	<key>OfficeAutoSignIn</key>
	<true/>
	<key>ShowWhatsNewOnLaunch</key>
	<true/>
	<key>VisualBasicMacroExecutionState</key>
	<string>DisabledWithWarnings</string>
	<key>VBAObjectModelIsTrusted</key>
	<false/>
	<key>AllowVisualBasicToBindToSystem</key>
	<false/>
	<key>DisableVisualBasicExternalDylibs</key>
	<false/>
	<key>DisableVisualBasicToBindToPopen</key>
	<false/>
	<key>DisableVisualBasicMacScript</key>
	<false/>
	<key>VisualBasicEntirelyDisabled</key>
	<true/>
	<key>OfficeWebAddinDisableOMEXCatalog</key>
	<true/>
	<key>iagnosticDataTypePreference</key>
	<string>ZeroDiagnosticData</string>
